<table>
<% book.book_comments.each do |book_comment| %>
  <tr>
    <td>
      <%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %><br />
      <%= link_to user_path(book_comment.user) do %>
      <%= book_comment.user.name %>
      <% end %>
    </td>
    <td><%= book_comment.comment %></td>
    <% if book_comment.user == current_user %>
    <td>
      <%= link_to book_book_comment_path(book_comment.book, book_comment),
      class: "btn btn-sm btn-danger", method: :delete do %>Destroy
      <% end %>
    </td>
  </tr>
    <% end %>
<% end %>
</table>
  <!--<div class="new-momment">-->
    <%= form_with(model:[book, book_comment], local: true) do |f| %>
    <%= f.text_area :comment, size:"90x5" ,placeholder: "コメントをここに" %><br>
    <%= f.submit "送信する" %>
    <% end %>
  <!--</div>-->