
        <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

        <table class="table">
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
           <tr>
             <th>introduction</th>
             <th><%= user.introduction %></th>
          </tr>
          <tr>
            <th>follows</th>
            <th>
              <%= link_to user_followings_path(user.id) do %>
              <%= user.followings.count %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>followers</th>
            <th>
              <%= link_to user_followers_path(user.id) do %>
              <%= user.followers.count %>
              <% end %>
            </th>
          </tr>
        </table>
    <% unless current_user?(user) %>
      <% if current_user.following?(user) %>
        <%= link_to user_relationships_path(user.id), class:"btn btn-md btn-block btn-info mt-4", method: :delete do %>フォローを外す<% end %>
      <% else %>
        <%= link_to user_relationships_path(user.id), class:"btn btn-md btn-block btn-success mt-4", method: :post do %>フォローする<% end %>
      <% end %>

      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog "></i>
      <% end %>
    <% end %>