<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
  <main>
    <div class="row">
      <div class="col text-center" style="margin-top: 25px;">
        <% if user_signed_in? %>
          <%= form_with url:search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]' %>
            <%= f.select 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
            <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "backward", "部分一致" => "partical" }) %>
            <%= f.submit :"検索" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
